
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end margin-right">
          
          <li class="nav-item">
            <button class="nav-link Btn btn-success" id="Home" >ADD</button>
          </li>
          <li class="nav-item">
            <button class="nav-link Btn btn-success" id="Update" >Update</button>
          </li>
          <li class="nav-item">
            <button class="nav-link Btn btn-success" id="Delete" >Delete</button>
          </li>
         
        </ul>
        </div>
    </nav>
    