
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end margin-right">
          
          <li class="nav-item">
            <a class="nav-link Btn btn-success" href="/client" id="Home" >Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link Btn btn-success" href="/recruiter" id="Update" >Recruiter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link Btn btn-success" href="/" id="Delete" >Home</a>
          </li>
         
        </ul>
        </div>
    </nav>
    